body {
	width: 100vw;
	height: 100vh;

	overflow: hidden;

	display: grid;
	place-items: center;

	// background-image: linear-gradient(to right, lightgreen, olive);
	background-image: url('https://wallpaperaccess.com/full/8351163.gif');
	background-size: cover;
	backdrop-filter: blur(10px) grayscale(40%);
}
