@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Martian Mono', monospace;
}

.scroll-animation {
  animation-name: scroll-down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes scroll-down {
  from {
    top: 0;
  }

  to {
    top: 50px;
  }
}
